body {
  background-color: antiquewhite;
}

.page-body {
  background-color: white;
  width: 1000px;
  margin-left: 400px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
  width: 25%;
  margin-bottom: 50px;
}

.seats-view ul {
  list-style-type: none;
  float: left;
}
.seats-view table {
  padding: 10px;
  border-spacing: 20px;
}
.seats-view table tr td button {
  width: 50px;
  height: 50px;
}
.seats-view table tr td {
  text-align: center;
}
.seats-view table tr td.space {
  border: 0;
  width: 100px;
}
.seats-view table tr td.blank-cell {
  border: 0;
  width: 100px;
}

.seats-view table tr td.driver-seat {
  vertical-align: middle;
}

.seats-view table tr td img {
  vertical-align: middle;
  margin-left: 5px;
  width: 30px;
  height: 35px;
}

table {
  float: left;
  border-top: 0px;
}

.available {
  background-color: greenyellow;
}

.taken {
  background-color: red;
}

.selected {
  background-color: burlywood;
}

.driver-seat {
  background-color: aquamarine;
}

.blabk-cell {
  border: 0;
}
