body {
  background-color: antiquewhite;
}

.page-body {
  background-color: white;
  width: 1000px;
  margin-left: 400px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
  width: 25%;
  margin-bottom: 50px;
}

.seats-view ul {
  list-style-type: none;
  float: left;
}

.available {
  background-color: greenyellow;
}

.taken {
  background-color: red;
}

.selected {
  background-color: burlywood;
}
